<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="form-group row">
				people_first_name
			<div class="col-sm-4">
				{{ forms.first_name }}
			</div>
		</div>
		<div class="form-group row">
				people_last_name
			<div class="col-sm-4">
				{{ forms.last_name }}
			</div>
		</div>
		<button type = "submit">Login</button>



def ppl(request):
	if request.method == "POST":
		form = EmployeeForm(request.POST)
		if form.is_valid():
			try:
				form.save()
				return redirect()
			except:
				pass
		else:
			form = EmployeeForm()
		return render(request,"index.html", {'form':form})
		if user:
			return HttpResponseRedirect(reverse('user_success'))
		else:
			return render(request,"index.html", {'form':form})
	else:
		return render(request,"index.html", {'form':form})

</body>
</html>
		

