{% load staticfiles %}
<!DOCTYPE html>
<html >

<head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
         <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

         <link rel="stylesheet" href="{% static 'css/jvtconnect.css' %}">
 </head>



<body>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a href="https://www.jvtechnologies.co.in/">
    <img class="logo" src="{%static 'css/jvtlogo.jpg' %}">
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
  <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
              <a href="{% url 'profile' %} " class="navbar-brand">profile&nbsp;&nbsp;</a>
        </li>       
        <li class="nav-item active">
              <a href="{% url 'viewreport' %} " class="navbar-brand">View report</a>
        </li>
        <li class="nav-item">
              <a href="{% url 'logout' %} "><button class="btn btn-outline-success">&nbsp;&nbsp;Logout</button></a>
        </li>
  </ul>
</nav>
      
<div class="btn jvtconnect">
   <h1>JVTConnect</h1>
</div>
      
<!-- JVT connect activity button -->

<button class="jvt-culture btn btn-default">JVT Cultural<br>Activity</button>


<!-- one to one -->


<div>
  <button type="button"  class="one-one btn btn-default"  data-toggle="modal" data-target="#example" data-backdrop="static" data-keyboard="false">ONE TO ONE</button>
    <div class="modal fade" id="example"  role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">  
            <img src="one-one.jpg" height="50px" width="50px">
            <h4 class="modal-title" >&nbsp;&nbsp;&nbsp;One To One</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
          </div>
          <div class="modal-body"><br>
            
            <form action="{% url 'onetoone' %}" method = "post" onsubmit="return validate()">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Topic Name" name = "Topic">
              </div>
             <!--  <div class="form-group">
                <input type="text" class="form-control"  placeholder="Discussed with" name = "partner">
              </div> -->
              <div class="form-group">
                <input type="date"  class="form-control" name = "Date">
              </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 ">Duration:</label>
                <input type="number"  class="form-control" name = "Time">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn-success btn-block">Save</button>
              </div>  
            </form>
          
          </div>
        </div>
      </div>
    </div>
</div>



<!--daily presentation------>
<div>
  <button type="button" class="daily btn btn-default" data-toggle="modal" data-target="#daily"  data-backdrop="static" data-keyboard="false">daily<br>Presentation</button>
  <div class="modal fade" id="daily"  role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="presentation.jpg" height="50px" width="50px">
          <h4 class="modal-title" >&nbsp;&nbsp;&nbsp;Daily Presentation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
        </div>
        <div class="modal-body"><br>
          
          <form action="{% url 'dailypresentation' %}" method = "post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="Topic Name" name = "Topic">
            </div>
            <div class="form-group">
              <label  class="col-form-label col-sm-12 " >Date:</label>
            </div>
            <div class="form-group">
              <input type="date"  class="form-control" name = "Date">
            </div>
            <div class="form-group">
              <label  class="col-form-label col-sm-12 "  >Duration:</label>
              <input type="number"  class="form-control" name = "Time">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn-success btn-block">Save</button>
            </div> 
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>   


<!--weekly presentation-->
<div >
   <button class="weekly btn btn-default" type="button" data-toggle="modal" data-target="#week"  data-backdrop="static" data-keyboard="false">Weekly<br>Presentation</button>
    <div class="modal fade" id="week"  role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <img src="presentation.jpg" height="50px" width="50px">
            <h4 class="modal-title">&nbsp;&nbsp;&nbsp;Weekly Presentation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
          </div>
          <div class="modal-body">
            
            <form action="{% url 'weeklypresentation' %}" method = "post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Topic Name" name = "Topicname">
              </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 ">Date:</label>
              </div>
              <div class="form-group">
                <input type="date"  class="form-control" name = "Date">
              </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 " >Duration:</label>
                <input type="number"  class="form-control" name = "Time">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn-success btn-block">Save</button>
              </div>
            
            </form>
          </div>
        </div>
    </div>
  </div> 
</div>


<!-- social's -->

<div>
  <button class="social btn btn-default" type="button" data-toggle="modal" data-target="#social"  data-backdrop="static" data-keyboard="false">Social's</button>
    <div class="modal fade" id="social"  role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <img src="gp.jpg" height="50px" width="50px">
            <h4 class="modal-title">&nbsp;&nbsp;&nbsp;Social's</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
          </div>
          <div class="modal-body">
            
            <form action="{% url 'socials' %}" method = "post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Discussed about" name = "Topicname">
              </div>
              <!-- <div class="form-group">
                <input type="text" class="form-control"  placeholder="place name">
              </div> -->
              <div class="form-group">
                <label  class="col-form-label col-sm-12 ">Date:</label>
              </div>
              <div class="form-group">
                <input type="date"  class="form-control" name = "Date">
              </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 " >Duration:</label>
                <input type="number"  class="form-control" name = "Time">
              </div>
              <!-- <div class="form-group">
                <label  class="col-form-label col-sm-12 ">Upload your pic:</label>
              </div>
              <div class="form-group">
                <input type="file"  class="form-control" >
              </div> -->
              <div class="modal-footer">
                <button type="submit" class="btn-success btn-block">Save</button>
              </div> 
            </form>
          
          </div>
        </div>
      </div> 
    </div>
</div>
 

<!-- visitor -->

<div>
  <button class="visitor btn btn-default" type="button" data-toggle="modal" data-target="#visitor"  data-backdrop="static" data-keyboard="false">Visitor's</button>
  <div class="modal fade" id="visitor"  role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="visitors.jpg" height="50px" width="50px">
          <h4 class="modal-title">&nbsp;&nbsp;&nbsp;Visitors</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
        </div>
        <div class="modal-body">
          
          <form action="{% url 'visitors' %}" method = "post">
            {% csrf_token %}
            <!-- <div class="form-group">
              <input type="number" class="form-control"  placeholder="Number of visitors">
            </div> -->
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Discussed about" name = "Topicname">
              </div>
            <div class="form-group">
              <label  class="col-form-label col-sm-12 ">Date:</label>
            </div>
            <div class="form-group">
              <input type="date"  class="form-control" name = "Date">
            </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 " >Duration:</label>
                <input type="number"  class="form-control" name = "Time">
              </div>
            <!-- <div class="form-group">
              <label  class="col-form-label col-sm-12 ">Upload your pic:</label>
            </div>
            <div class="form-group">
              <input type="file"  class="form-control" >
            </div> -->
            <div class="modal-footer">
              <button type="submit" class="btn-success btn-block">Save</button>
            </div>
          </form> 

        </div>
      </div>
    </div> 
  </div>
</div>
       
 
<!-- reference given -->


<div>  
  <button class="given btn btn-default" type="button" data-toggle="modal" data-target="#given"  data-backdrop="static" data-keyboard="false">Referrals<br> Given</button>
  <div class="modal fade" id="given"  role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">&nbsp;&nbsp;&nbsp;Referral given</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
        </div>
        <div class="modal-body">
          
          <form action="{% url 'referralsgiven' %}" method = "post">
            {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Discussed about" name = "Topicname">
              </div>
            <!-- <div class="form-group">
              <input type="text" class="form-control"  placeholder="Number of Visitors">
            </div> -->
            <div class="form-group">
              <label  class="col-form-label col-sm-12 ">Date:</label>
            </div>
            <div class="form-group">
              <input type="date"  class="form-control" name = "Date">
            </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 ">Duration:</label>
                <input type="number"  class="form-control" name = "Time">
              </div>
            <div class="modal-footer">
              <button type="submit" class="btn-success btn-block">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div> 
  </div>
</div>

<!-- reference taken -->

<div>
  <button class="taken btn btn-default" type="button" data-toggle="modal" data-target="#taken"  data-backdrop="static" data-keyboard="false">Referrals<br> Taken</button>
  <div class="modal fade" id="taken"  role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">&nbsp;&nbsp;&nbsp;Referrals Taken</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
        </div>
        <div class="modal-body">
          
          <form action="{% url 'referralstaken' %}" method = "post">
            {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Discussed about" name = "Topicname">
              </div>
            <!-- <div class="form-group">
              <input type="text" class="form-control"  placeholder="Number of Visitors">
            </div> -->
            <div class="form-group">
              <label  class="col-form-label col-sm-12 ">Date:</label>
            </div>
            <div class="form-group">
              <input type="date"  class="form-control" name = "Date">
            </div>
              <div class="form-group">
                <label  class="col-form-label col-sm-12 " name = "Time">Duration:</label>
                <input type="number"  class="form-control" name = "Time">
              </div>
            <div class="modal-footer">
              <button type="submit" class="btn-success btn-block">Save</button>
            </div>
          </form> 
        
        </div>
      </div>
    </div> 
  </div>
</div>


<!-- footer -->

<footer>
   <div class="row footer text-center">
      <div class="col-mod-4"></div>
      <div class="col-mod-9 text-centered">
          <p>Copyright</p>
      </div>
      <div class="col-mod-4">
        <a class="" href="#" >1099</a>
      </div>
    </div>
</footer>   


</div>

   
</body>    
</html>  