{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/static.css' %}">

  </head>
    <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <a class="inactive underlineHover" href="/signup" >REGISTER </a>
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="{% static "css/2493738-medium190ap.jpg" %}" alt="My image">
        </div>
    
  
        <!-- Login Form -->
        <form action="{% url 'signin' %}" method="post">
          {% csrf_token %}
          <input type="text" class="fadeIn second" name="userconnected" placeholder="username">
          <input type="password" class="fadeIn third" name="passwordconnected" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>
    <body
</html>


